
<!doctype html>

<script src="/include/d3.v3.min.js" charset="utf-8"></script>
<script src="/include/rickshaw.js"></script>
<script src="/include/drawGraph.js"></script>


<link rel="stylesheet" href="/include/rickshaw.min.css">
<link rel="stylesheet" href="/include/scatter.css">


<div id="chart_container" class="chart_container">
	<div id="y_label" class="y_label"></div>
	<div id="y_axis" class="y_axis"></div>
	<div id="chart" class="chart"></div>
</div>
<div id="legend" class="legend"></div>


<script>




drawGraph("#chart", {{ insert_obj seriesData }}, "y_axis", "#legend", "#y_label", "Average Annual Earnings (inflation adjusted to 2012 $)", 1);

//drawGraph("#chart2", {{ insert_obj seriesData }}, "y_axis2", "#legend2", "#y_label2", "Growth of industry");

</script> 
